# Dependency directories
node_modules/
dist/

# Environment variables
.env

# IDE / Editor files
.vscode/
.idea/

# Compiled output
*.js
*.js.map

# Testing files
*.test.ts

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build process
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp.*
.pnp.js
